<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Subscribe To XKCD Comics</title>
</head>

<body>
    <div class="container">
        <form id="form" class="form" action="ServerURL To Accept POST Request" method="POST">

            <h2>Receive Random XKCD Comics Every 5 Minutes</h2>

            <div class="form_control">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Enter Username" name="username">
            </div>

            <div class="form_control">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Enter Email" name="email">
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>